.top-genre-movies-item {
	list-style-type: none;
	border-bottom: 1px solid #f3f3f3;
}

.second-top-movies-column {
	border-left: 1px solid #f3f3f3;
}

.user-favorites-movie-link::hover {
	color: green;
}
