.movie-info-column {
	border-radius: 5px;
	background-color: #f3f3f3;
	padding-right: 0;
	padding-left: 0;
	max-width: 73%;
	text-align: center;
	cursor: default;
	margin-left: 2%;
}

#movie-info-header {
	font-size: 20px;
	margin-left: 3%;
	font-family: $main-font;
}

.movie-info-body {
	padding: 10px 15px;
}

// Changes bootstrap's default table padding
.table th,
.table td {
	padding-top: 0;
	padding-bottom: 0;
}

.movie-table {
	text-align: center;
}

.movie-table-header-column {
	font-family: $main-font;
	font-weight: bold;
	border-top: none !important;
	text-align: right;
	color: #757a84;
	padding: 0 0.5rem;
}

.movie-table-data-column {
	border-top: none !important;
	text-align: left;
}
