.movie-show-title {
	background-color: #f4f4f4;
	height: 100%;
	width: fit-content;
	padding-left: 6px;
	padding-right: 6px;
}

.movie-show-header {
	display: block;
	font-size: 25px;
	font-weight: bold;
	background-color: $main-red;
	margin-right: auto;
	margin-left: auto;
}
