.movie-show-title {
	background-color: #ffffff;
	height: 100%;
	width: fit-content;
	padding-left: 6px;
	padding-right: 6px;
}

.movie-show-header {
	display: block;
	font-size: 25px;
	font-weight: bold;
	background-color: $main-red;
	margin-right: auto;
	margin-left: auto;
}

.title-span-div {
	display: flex;
	margin-bottom: 4%;
	cursor: default;
}

.other-movies-title {
	background-color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	width: fit-content;
}

.other-movies-header {
	// display: block;
	font-size: 15px;
	font-weight: bold;
	// background-color: $main-red;
	margin-right: 0;
	margin-left: auto;
	::before {
		background-color: $main-red;
		content: " ";
		min-width: 23px;
		height: 21px;
		position: absolute;
		left: 15px;
	}
}
