.title-span-div {
	display: flex;
	margin-bottom: 4%;
	cursor: default;
}

.other-movies-title {
	background-color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	width: fit-content;
}

.other-movies-header {
	font-size: 15px;
	font-weight: bold;

	margin-right: 0;
	margin-left: auto;
	::before {
		background-color: $main-red;
		content: " ";
		min-width: 23px;
		height: 21px;
		position: absolute;
		left: 15px;
	}
}
