.genre-movie:hover {
	color: $main-red;
}

.genre-title {
	font-size: 1.5em;
	font-family: $main-font;
	margin-left: 0.5em;
	border-left: 5px solid $main-red;
	padding-left: 0.25em;
	margin-top: 0.5em;
}
