.movie-show-container {
	background-color: #ffffff;
	padding: 2%;
}

.credits-card {
	border: none;
}

.credits-card-body {
	padding: 0;
}

.credits-name {
	font-size: 14px;
	padding-top: 0.25rem;
	margin-bottom: 0;
}

.credits-character {
	font-size: 12px;
	padding-top: 0.25rem;
	color: #959595;
}
