.movie-show-container {
	background-color: #ffffff;
	padding: 2%;
}
.movie-show-title {
	font-family: $main-font;
	background-color: #ffffff;
	height: 100%;
	width: fit-content;
	padding-left: 6px;
	padding-right: 6px;
}

.movie-show-header {
	display: block;
	// font-size: 1em;
	// font-weight: bold;
	background-color: $main-red;
	margin-right: auto;
	margin-left: auto;
}

.other-movies-title {
	font-family: $main-font;
}

.other-movies-link {
	text-decoration: inherit;
	color: inherit;
}

.credits-card {
	border: none;
}

.credits-card-body {
	padding: 0;
}

.credits-name {
	font-size: 14px;
	padding-top: 0.25rem;
	margin-bottom: 0;
}

.credits-character {
	font-size: 12px;
	padding-top: 0.25rem;
	color: #959595;
}

.review-card-column {
	padding: 0;
	margin-right: 5px;
}

.button-align {
	margin: 5% 0;
}

.movie-trailer-container {
	padding-top: 5rem;
}

.sticky {
	top: 5% !important;
}

.movie-trailer-footer-buttons {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.movie-trailer-title {
	font-size: 1.25em;
	font-family: $main-font;
	border-left: 5px solid $main-red;
	padding-left: 0.25em;
	margin-bottom: 0.25em;
}

#add-review-hide {
	display: none;
}

// ! Video Player Modal override
.modal-content {
	border: none;
	width: fit-content;
	left: 7%;
}

.react-player__preview {
	height: 10rem !important;
}

// ! Media Queries Below

@media screen and (max-width: 768px) {
	.sticky-container > div {
		position: initial !important;
	}
	.movie-details-row {
		display: flex;
		flex-wrap: nowrap;
	}
	.card-deck {
		overflow: scroll;
	}
	.credits-card {
		margin: 0;
	}
	.credits-card-body {
		word-break: break-word;
	}
	.movie-info-column {
		width: 145%;
	}
	.movie-trailer-container {
		padding-top: 0;
	}
	#add-review-hide {
		display: contents;
	}

	.modal-content {
		bottom: 3rem;
	}

	.modal-content > div {
		height: 100% !important;
		width: 100% !important;
	}
}
@media screen and (min-width: 576px) and (max-width: 768px) {
	.card-columns {
		column-count: 2 !important;
	}
	.button-align {
		margin: 5% 0;
	}
}
